@import '../variables/font.scss';

.header {

    color: $header-color;
    
    &--one {
        font-size: $h1-size;
        line-height: $h1-line-height;
        font-family: geomanistbold;
        font-weight: normal;
        width: $width-header1;
        margin: 100px 0 0 0;
    }
    
    &--two {
        font-size: $h2-size;
        line-height: $h2-line-height;
        font-family: geomanistbold;
        width: 582px;
        margin-bottom: 20px;
    }

    &--three {
        font-size: $h3-size;
        line-height: $h3-line-height;
    }

    &--four {
        font-size: $h4-size;
        line-height: $h4-line-height;
    }

    &--five {
        font-size: $h5-size;
        line-height: $h5-line-height;
    }

    &--six {
        font-size: $h6-size;
        line-height: $h6-line-height;
    }

    &--subtitle {
        font-size: $subtitle-size;
        line-height: $subtitle-line-height;
        font-family: geomanistregular;
        color: $text;
        margin-top: 0;
    }

}