.nav {

    &__links {
        display: flex;
        float: right;

        li {
            padding: 0 40px 0 0;
            margin: 17px 0 0 0;
        }
    }

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    font-size: $body-size;
    font-family: 'geomanistregular';
    font-style: normal;
    align-content: center;
}

li {
    list-style: none;

}

a {
    text-decoration: none;
    color: $subtitle-color;
}

ul {
    padding: 0;
}


