section {
    max-width: 1360px;
    margin: 0 auto;
}

.section {

    &__landing {
        height: 100vh;
    }

    &__products {
        height: 100vh;
    }

    &__growth {
        height: 70vh;
    }

    &__report {
        height: 120vh;
    }

    &__rating {
        height: 85vh;
    }

    &__subscription {
        height: 100vh;
    }

}