.product {

    margin: 0 25px 0 0;

    &__container {
        display: flex;
        height: 220px;
    }

    &__header {
        color: $primary-color;
        font-size: 70px;
        font-family: geomanistbold;
        font-style: normal;
        margin: 0;

        &--small {
            color: #1F1F1F;
            font-size: 20px;
            font-family: geomanistbook;
            margin: 0;
        }
    }

    &__subtitle {
        width: 433px;
        font-size: $body-size;
        color: $subtitle-color;
        font-family: geomanistregular;
        line-height: $subtitle-line-height;
        font-style: normal;
        
    }

    &__images {
        display: flex;
        margin: 0 auto;
    }

    &__image {
        height: 80px;
        margin: 0 50px 0 50px;
    }

}