.rating {

    &__container {
        margin: 0 auto;
        margin-top: 50px;
    }

    &__box {
        background: #E3E7F1;
        width: 1478px;
        height: 400px;
        border-radius: 20px;
        margin: 0 auto;
    }

    &__textcontainer {
        width: 447px;
        float: right;
        text-align: center;
        margin: 125px 90px 0 0;
    }

    &__text {
        font-size: $subtitle-size;
        font-family: geomanistregular;
        color: $text;
    }

    &__person {
        font-family: geomanistmedium;
        font-size: $other-size;
    }

}

@media only screen and (max-width: 1440px) {
    .rating {
      
        &__box {
            width: 1360px; 
        }

    }
  }