.report {

    &__container {
        display: flex;
    }

    &__rectangle {
        background-color: #ECEDEF;
        height: 128px;
        width: 128px;
        border-radius: 5px;
    }

    &__title {
        font-size: 20px;
        font-family: geomanistbook;
        font-style: normal;
        margin: 20px 0 0 0;
    }

    &__description {
        font-size: $body-size;
        font-family: geomanistregular;
        font-style: normal;
        width: 403px;
        margin: 15px 0 0 0;
    }

    &__box {
        width: 403px;
        margin: 60px 50px 0 0;
    }

}