.subscription {

    &__purple {
        background-color: #494CA2;
        width: 120vw;
        height: 400px;
        margin-left: -20vw;
        z-index: -2;
        padding-top: 100px;
    }

    &__container {
        margin: 0 0 50px 300px;
        display: flex;
    }

    &__text {
        font-family: geomanistregular;
        font-size: $body-size;
        color: white;
        margin: 0;
        width: 320px;
        line-height: 30px;
    }

    &__title {
        font-family: geomanistmedium;
        font-size: $other-size;
        color: white;
        margin: 0 0 10px 0;
    }

    &__abbo {
        width: 433px;
        height: 679px;
        background-color: white;
        border: 2px solid rgb(175, 175, 175);
        border-radius: 10px;
        float: right;
        position: relative;
        bottom: 650px;
        right: 200px;
    }

    &__sale {
        width: 173px;
        height: 43px;
        background: $primary-color;
        border-radius: 5px;
        margin: 0px auto;
        position: relative;
        bottom: 20px;
    }

    @media only screen and (max-width: 1440px) {
    
        &__abbo {
            transform: scale(0.78);
        }
    }
}

