.welcome {

    &__text {
        color: $text;
        font-family: 'geomanistregular';
        font-size: $subtitle-size;
        width: 580px;
    }

    &__inputs {
        display:grid;
        grid-template-columns: 280px 280px;
        grid-row: auto auto;
        grid-column-gap: 14px;
        grid-row-gap: 10px;
    }

    &__input {
        height: 58px;
        width: 264px;
        color:#fff;
        display:flex;
        align-items:center;
        justify-content:center;
        font-family: 'geomanistregular';
        font-size: $body-size;
        padding-left: 16px;
    }

}