.primary {
  color: #494CA2;
}

.img__container {
  display: flex;
}
.img--logo {
  width: 133px;
  float: left;
}
.img--vink {
  width: 16px;
  height: 16px;
  margin: 0 30px 0 0;
  padding: 0;
}
.img--pointer {
  margin: 10px 0 0 70px;
}

.width-557 {
  width: 557px;
}

.width-492 {
  width: 492px;
}

.width-480 {
  width: 480px;
}

.width-461 {
  width: 461px;
}

.button {
  background-color: #78B5AF;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  font-family: "geomanistmedium";
  font-size: 20px;
  font-weight: 500;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
.button__nav {
  height: 58px;
  width: 166px;
  margin: 0;
}
.button__welcome {
  height: 64px;
  width: 284px;
  padding: 0;
}
.button:hover {
  background: #679c97;
}

hr {
  color: #39495C;
  border-width: 4px;
  opacity: 10%;
  margin: 50px 0 40px 0;
}

.center {
  margin: 0 auto;
  text-align: center;
}

section {
  max-width: 1360px;
  margin: 0 auto;
}

.section__landing {
  height: 100vh;
}
.section__products {
  height: 100vh;
}
.section__growth {
  height: 70vh;
}
.section__report {
  height: 120vh;
}
.section__rating {
  height: 85vh;
}
.section__subscription {
  height: 100vh;
}

.header {
  color: #2B292D;
}
.header--one {
  font-size: 60px;
  line-height: 76px;
  font-family: geomanistbold;
  font-weight: normal;
  width: 548px;
  margin: 100px 0 0 0;
}
.header--two {
  font-size: 40px;
  line-height: 48px;
  font-family: geomanistbold;
  width: 582px;
  margin-bottom: 20px;
}
.header--three {
  font-size: 36px;
  line-height: 40px;
}
.header--four {
  font-size: 32px;
  line-height: 36px;
}
.header--five {
  font-size: 28px;
  line-height: 32px;
}
.header--six {
  font-size: 24px;
  line-height: 76px;
}
.header--subtitle {
  font-size: 22px;
  line-height: 32px;
  font-family: geomanistregular;
  color: #919191;
  margin-top: 0;
}

.nav__links {
  display: flex;
  float: right;
}
.nav__links li {
  padding: 0 40px 0 0;
  margin: 17px 0 0 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  font-size: 18px;
  font-family: "geomanistregular";
  font-style: normal;
  align-content: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #747474;
}

ul {
  padding: 0;
}

.welcome__text {
  color: #919191;
  font-family: "geomanistregular";
  font-size: 22px;
  width: 580px;
}
.welcome__inputs {
  display: grid;
  grid-template-columns: 280px 280px;
  grid-row: auto auto;
  grid-column-gap: 14px;
  grid-row-gap: 10px;
}
.welcome__input {
  height: 58px;
  width: 264px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "geomanistregular";
  font-size: 18px;
  padding-left: 16px;
}

.product {
  margin: 0 25px 0 0;
}
.product__container {
  display: flex;
  height: 220px;
}
.product__header {
  color: #494CA2;
  font-size: 70px;
  font-family: geomanistbold;
  font-style: normal;
  margin: 0;
}
.product__header--small {
  color: #1F1F1F;
  font-size: 20px;
  font-family: geomanistbook;
  margin: 0;
}
.product__subtitle {
  width: 433px;
  font-size: 18px;
  color: #747474;
  font-family: geomanistregular;
  line-height: 32px;
  font-style: normal;
}
.product__images {
  display: flex;
  margin: 0 auto;
}
.product__image {
  height: 80px;
  margin: 0 50px 0 50px;
}

.growth__container {
  display: flex;
}
.growth__vink {
  display: flex;
}

.report__container {
  display: flex;
}
.report__rectangle {
  background-color: #ECEDEF;
  height: 128px;
  width: 128px;
  border-radius: 5px;
}
.report__title {
  font-size: 20px;
  font-family: geomanistbook;
  font-style: normal;
  margin: 20px 0 0 0;
}
.report__description {
  font-size: 18px;
  font-family: geomanistregular;
  font-style: normal;
  width: 403px;
  margin: 15px 0 0 0;
}
.report__box {
  width: 403px;
  margin: 60px 50px 0 0;
}

.rating__container {
  margin: 0 auto;
  margin-top: 50px;
}
.rating__box {
  background: #E3E7F1;
  width: 1478px;
  height: 400px;
  border-radius: 20px;
  margin: 0 auto;
}
.rating__textcontainer {
  width: 447px;
  float: right;
  text-align: center;
  margin: 125px 90px 0 0;
}
.rating__text {
  font-size: 22px;
  font-family: geomanistregular;
  color: #919191;
}
.rating__person {
  font-family: geomanistmedium;
  font-size: 20px;
}

@media only screen and (max-width: 1440px) {
  .rating__box {
    width: 1360px;
  }
}
.subscription__purple {
  background-color: #494CA2;
  width: 120vw;
  height: 400px;
  margin-left: -20vw;
  z-index: -2;
  padding-top: 100px;
}
.subscription__container {
  margin: 0 0 50px 300px;
  display: flex;
}
.subscription__text {
  font-family: geomanistregular;
  font-size: 18px;
  color: white;
  margin: 0;
  width: 320px;
  line-height: 30px;
}
.subscription__title {
  font-family: geomanistmedium;
  font-size: 20px;
  color: white;
  margin: 0 0 10px 0;
}
.subscription__abbo {
  width: 433px;
  height: 679px;
  background-color: white;
  border: 2px solid #afafaf;
  border-radius: 10px;
  float: right;
  position: relative;
  bottom: 650px;
  right: 200px;
}
.subscription__sale {
  width: 173px;
  height: 43px;
  background: #494CA2;
  border-radius: 5px;
  margin: 0px auto;
  position: relative;
  bottom: 20px;
}
@media only screen and (max-width: 1440px) {
  .subscription__abbo {
    transform: scale(0.78);
  }
}

@font-face {
  font-family: "geomanistblack";
  src: url("../font/geomanist-black-webfont.woff2") format("woff2"), url("../font/geomanist-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "geomanistbold";
  src: url("../font/geomanist-bold-webfont.woff2") format("woff2"), url("../font/geomanist-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "geomanistbook";
  src: url("../font/geomanist-book-webfont.woff2") format("woff2"), url("../font/geomanist-book-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "geomanistextralight";
  src: url("../font/geomanist-extralight-webfont.woff2") format("woff2"), url("../font/geomanist-extralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "geomanistlight";
  src: url("../font/geomanist-light-webfont.woff2") format("woff2"), url("../font/geomanist-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "geomanistmedium";
  src: url("../font/geomanist-medium-webfont.woff2") format("woff2"), url("../font/geomanist-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "geomanistregular";
  src: url("../font/geomanist-regular-webfont.woff2") format("woff2"), url("../font/geomanist-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "geomanistthin";
  src: url("../font/geomanist-thin-webfont.woff2") format("woff2"), url("../font/geomanist-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "geomanistultra";
  src: url("../font/geomanist-ultra-webfont.woff2") format("woff2"), url("../font/geomanist-ultra-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: none;
}

/*# sourceMappingURL=style.css.map */
