//Variables
@import 'variables/color';
@import 'variables/font';
@import 'variables/img';
@import 'variables/size';
@import 'variables/button';
@import 'variables/other';

//Section
@import 'section/section';
@import 'section/header';
@import 'section/nav';

//Pages
@import 'pages/welcome';
@import 'pages/products';
@import 'pages/growth';
@import 'pages/report';
@import 'pages/rating';
@import 'pages/subscription';

//Other
@import 'other/margin';


@font-face {
    font-family: 'geomanistblack';
    src: url('../font/geomanist-black-webfont.woff2') format('woff2'),
         url('../font/geomanist-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geomanistbold';
    src: url('../font/geomanist-bold-webfont.woff2') format('woff2'),
         url('../font/geomanist-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geomanistbook';
    src: url('../font/geomanist-book-webfont.woff2') format('woff2'),
         url('../font/geomanist-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geomanistextralight';
    src: url('../font/geomanist-extralight-webfont.woff2') format('woff2'),
         url('../font/geomanist-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geomanistlight';
    src: url('../font/geomanist-light-webfont.woff2') format('woff2'),
         url('../font/geomanist-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geomanistmedium';
    src: url('../font/geomanist-medium-webfont.woff2') format('woff2'),
         url('../font/geomanist-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geomanistregular';
    src: url('../font/geomanist-regular-webfont.woff2') format('woff2'),
         url('../font/geomanist-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geomanistthin';
    src: url('../font/geomanist-thin-webfont.woff2') format('woff2'),
         url('../font/geomanist-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geomanistultra';
    src: url('../font/geomanist-ultra-webfont.woff2') format('woff2'),
         url('../font/geomanist-ultra-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: none;
}