.button {

    background-color: $secondary-color;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-family: 'geomanistmedium';
    font-size: 20px;
    font-weight: 500;
    transition: all .1s ease-in-out;
    cursor: pointer;

    &__nav {
        height: 58px;
        width: 166px;
        margin: 0;
    }

    &__welcome {
        height: 64px;
        width: 284px;
        padding: 0;
    }

    &:hover {
        background: rgb(103, 156, 151);
    }
}

