

//body
$body-size: 18px;
$body-line-height: 30px;

//h1
$h1-size: 60px;
$h1-line-height: 76px;

//h2
$h2-size: 40px;
$h2-line-height: 48px;

//h3
$h3-size: 36px;
$h3-line-height: 40px;

//h4
$h4-size: 32px;
$h4-line-height: 36px;

//h5
$h5-size: 28px;
$h5-line-height: 32px;

//h6
$h6-size: 24px;
$h6-line-height: 76px;

//h1
$h1-size: 60px;
$h1-line-height: 76px;

//subtitle
$subtitle-size: 22px;
$subtitle-line-height: 32px;

//body
$body-size: 18px;

//other
$other-size: 20px;



