.img {

    &__container {
        display: flex;
    }

    &--logo {
        width: 133px;
        float: left;
    }

    &--vink {
        width: 16px;
        height: 16px;
        margin: 0 30px 0 0;
        padding: 0;
    }

    &--pointer {
        margin: 10px 0 0 70px;
    }

}